# Сборка Cargo
/target

# Отладочные символы MSVC
*.pdb

# Локальные настройки редакторов и IDE
/.vscode
/.idea
*.iml

# Локальный конфиг программы, если он вдруг окажется рядом с исходниками
settings.json
